body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

header {
    <!--text-align:center;-->
    color: #999;
}

aside {
    text-align: center;
    color: #bbb;
}
article {
    border-color: cornflowerblue;
    border-style: solid;
    border-width: medium;
    background-color: darkorchid;
    color: darkblue;
    text-align: center;
}